<div class="centro">
    <br>
    <div class="background-circles">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
    </div>

    <div class="flex">
        <app-card-texto> 
            Bem-vindo!
            <br> <br>
            A seguinte aplicação web trata-se de um projeto desenvolvido em Angular, utilizando Spring Boot, Hibernate e JPA com conexão banco de dados SQL Server 2019. 
            <br> <br>
            Com o projeto devidamente configurado em sua máquina, será possível cadastrar, pesquisar, editar e deletar clientes.
            <br> <br>
        </app-card-texto>

        <app-card-texto>
            Como utilizar o programa?
            <br> <br>
            Cada um dos botões abaixo representa uma das funcionalidades da CRUD, para realizar a ação necessária, basta preencher todos os campos corretamente.

            <br> <br> 
            Repositórios:
            <br> 
            <a href="https://github.com/ujaoo/CadastroClienteAngular">GIT Angular</a>
            <br>
            <a href="https://github.com/ujaoo/cadastroClienteJPA ">GIT Java</a>
            <br> <br>
        </app-card-texto>
    </div>

    <div class="flex"> 
        <span class="font"> Selecione uma das opções abaixo: </span>
    </div>

    <div class="flex">
        <a href="cliente/cadastro-cliente">
            <app-card> 
                <mat-icon class="icone" >add</mat-icon> 
            </app-card>
        </a>
            
        <a href="cliente/pesquisar-cliente">
            <app-card>
                <mat-icon class="icone">edit</mat-icon> 
            </app-card>
        </a>

        <a href="cliente/pesquisar-cliente">
            <app-card>
                <mat-icon class="icone">search</mat-icon> 
            </app-card>
        </a>

        <a href="cliente/pesquisar-cliente">
            <app-card>
                <mat-icon class="icone">delete</mat-icon> 
            </app-card>
        </a>
    </div>
    <div class="barra-fixa"></div>
</div>
